.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner-container {
  /* max-height: 100vh; */
  margin-top: 20%;
  /* transform: translateY(-50%); */
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
  /* margin: auto; */
  margin-top: 50% !important;
}


.page-loader-wrapper p {
  margin-top: 10px;
  color: #fff
}

.page-loader-wrapper .loader {
  position: relative;
  top: calc(40% - 30px)
}
.wrapper.h-100 {
  height: 100vh !important;
  overflow: hidden;
} 



.portion-block{
  clip: rect(0px, 200px, 200px, 100px);
}
.circle{
  border-radius: 50%;
clip: rect(0px, 100px, 200px, 0px);
font-family: monospace;
}
#part1 {
  transform: rotate(0deg);
}

#part1 .circle {
  background-color: rgb(254, 99, 78);
  /*transform: rotate(76deg);*/
  animation: first 1s 1 forwards;
  }


#part2 {
  transform: rotate(100deg);
}
#part2 .circle {
  background-color: rgb(69, 173, 218);
  animation: second 1s 1 forwards 1s;
}
#part3 {
  transform: rotate(250deg);
}
#part3 .circle {
  background-color: rgb(33, 75, 184);
  animation: third 0.5s 1 forwards 2s;
}


/* Animation */
@keyframes first {
  from {transform: rotate(0deg);}
  to {transform: rotate(100deg);}
}

@keyframes second {
  from {transform: rotate(0deg);}
  to {transform: rotate(150deg);}
}

@keyframes third {
  from {transform: rotate(0deg);}
  to {transform: rotate(111deg);}
}



#legend li span {
  width: 36px;
  height: 12px;
  display: inline-block;
  margin: 0 5px 8px 0;
  vertical-align: -9.4px;
}
#legend ul {
  list-style: none;
  font: 12px Verdana;
  white-space: nowrap;
}